/* ---- Article Styling ---- */


.banner {
	background: linear-gradient(270deg, transparent 25%,#000), url("https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-oaVs.webp") center / cover no-repeat;
	object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 3.2em 0;
	margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.banner-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    a {
        color: #fff;
    }
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
	padding: 30px;
	border-radius: 15px;
	margin: 1.5em .8em .8em;
    border: 1px solid #999aa2;
    text-align: center;
    position: relative;
    top: 0;
    box-shadow: 0 3px 35px rgb(0 0 0 / 10%);
    transition: .5s ease;
    &:hover {
        border-color: transparent;
        top: -10px;
        transition: .5s ease !important;
    }
}
.news{
    width: 80%;
	background: #fff;
	margin: 0 .5em .8em;
    border: 1px solid #999aa2;
    box-shadow: 0 3px 35px rgb(0 0 0 / 10%);
    position: relative;
    top: 0;
    transition: .5s ease;
    &:hover {
        border-color: transparent;
        top: -10px;
        transition: .5s ease !important;
    }
}
.news-1{
    flex:1;
}
.news-2 {
    flex:1;
}
.news-3 {
    flex:1;
}
.block{
    padding: 1em;
    .button{
        background-color: #3a3a3a;
        margin-bottom: 20px;
    }
    .img{
        margin-top: 20px;
    }
}
.user{
    display: table;
    width: 100%;
    font-size: .875rem;
    margin-top: 30px;
    padding-top: 30px;
}

.secondary-content {
    color: #fff;
    background-color: #333645;
    padding-top: 50px;
    padding-bottom: 50px;
}

.signup {
    color: #666;
	background: #ddd;
    padding: 50px 50px;
    margin-top: 20px;
}



.item,
 .article {
    padding: 15px;
    margin: 5px;
    border-radius: 3px;
 }

 .item-1,
 .item-2,
 .item-3 {
    flex: 1 333px;
 }

 .item-4,
 .item-5,
 .item-6,
 .item-7 {
    flex: 1 250px;
 }

 .user_name,
.user_email {
    height: 50px;
    width: 100%;
    font-size: 1em;
    box-shadow: #3a3a3a;
}
.bar{
    padding-top: 50px;
}