//===============================================
// Containers 
//===============================================

// Base Containers

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

// Headings container
.headings-container{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.search {
    display: flex;
}

.search-form{
    margin-top: 11px;
    position: relative;
}
.secondary-nav{
    height: 100px;
    background-color: #333645;
    a {
        color: #fff;
    }
    &:hover {
        color: #fff;
        text-decoration: none;

    }
}

.triangle{
    background-color: rgb(19, 255, 67);
    position: absolute;
    z-index: 100;
    visibility: none;
}

.nav-container{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    flex-direction: row;
    justify-content: center;
    font-size: 1.125rem;
    width: 100%;
}

.top-nav{
    width: 200px;
}

.nav-dropdown{
    left: 0;
    width: 100%;
    color: #FFF;
    z-index: 99;
    background-color: #333645;
    position: absolute;
    // transform: translate(0, 15px);
    padding-top: 80px;
    padding-bottom: 50px;

    visibility: hidden;
}
.top-nav:hover {

    .nav-dropdown {
        visibility: visible;
    }
    .triangle {
        visibility: visible;

        width: 200px;
        height: 35px;
        transform: translate(0, 14.5px);
        clip-path: polygon(0 0,50% 100%,100% 0%);
    }
}

// Primary content container

.our-services-container{
    margin-bottom: 50px;
}

.row {
    margin-bottom: 50px;
}

// secondary content container

.review-btn-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

// News section container

.news-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.news{
    margin-bottom: 40px;
}

.user{
    border-top: 1px solid #888;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.details {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

// Footer container
.footer-row a:hover{
    text-decoration: underline;
}
.offices,
.services{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.footer-license{
    display: flex;
}

.sitemap:hover{
    text-decoration: underline;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #888;
    padding-top: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    align-items: baseline;
}
.social-media{
    display: flex;
}
