//===============================================
// Containers 
//===============================================

// Base Containers

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

//Headings container

.headings-container{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.search {
    display: flex;
}

.search-form{
    margin-top: 11px;
    position: relative;
}
.secondary-nav{
    height: 100px;
    background-color: #333645;
    a {
        color: #fff;
    }
    &:hover {
        color: #fff;
        text-decoration: none;

    }
}

.triangle{
    position: absolute;
    z-index: 100;
    visibility: none;
}

.nav-container{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.top-nav{
    width: 200px;
    font-size: 1.125rem;
}
.top-nav small {
    font-size: .625rem;
}

.nav-dropdown{
    margin-top: -10px;
    left: 0;
    width: 100%;
    color: #FFF;
    z-index: 99;
    background-color: #333645;
    position: absolute;
    // transform: translate(0, 15px);
    padding-top: 80px;
    padding-bottom: 50px;

    visibility: hidden;
}
.top-nav:hover {

    .nav-dropdown {
        visibility: visible;
    }
    .triangle {
        visibility: visible;

        width: 200px;
        height: 35px;
        transform: translate(-14px, 0px);
        clip-path: polygon(0 0,50% 100%,100% 0%);
    }
}

// @media (min-width: )

// Primary content container

.our-services-container{
    margin-bottom: 50px;
}

.row {
    margin-bottom: 50px;
}

// Carousel images

.carousel, .client-list{
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.owl-item{
    max-height: 120px !important;
    max-width: auto !important;
    margin-right: 50px !important;
}

@media (max-width: 767px) {
    .client-list{
        display: none;
    }
}

.popup{
    visibility: hidden;

    position: absolute;
    color: #fff;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -100%);
} 

.client-item:hover{
    .popup {
        visibility: visible;
        background-color: aquamarine;
    }

    .popup-triangle{
        visibility: visible;

        width: 75px;
        height: 35px;
        background-color: #333645;
        left: 50%;
        transform: translate(-50%, -1px);
        clip-path: polygon(0 0, 50% 100%, 100% 0%);
    }
}

.popup-banner{
    width: 250px;
    text-align: center;
    background-color: #333645;
    color: #FFF;
    padding: 20px 10px;

    p {
        border-top: 5px solid #fff;
    }
}

.popup-triangle{
    position: absolute;
    z-index: 100;

    visibility: hidden;
}

// secondary content container

.review-btn-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


// News section container

.news-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.news{
    margin-bottom: 40px;
}

.user{
    border-top: 1px solid #888;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.details {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

// Footer container
.footer-row a:hover{
    text-decoration: underline;
}
.offices,
.services{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.footer-license{
    display: flex;
}

.sitemap:hover{
    text-decoration: underline;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #888;
    padding-top: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    align-items: baseline;
}
.social-media{
    display: flex;
}


// side menu

.side-menu{
    display: none;

    position: fixed;
    top: 0;
    right: 0;

    background-color: #333645;
    min-width: 275px;
    height: 100vh;
    overflow-x: hidden;
    z-index: 99;
    transition: 0.4s;
}


.side-menu__small {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 21px;
}

@media (min-width: 992px) {
    .side-menu{
        width: 350px;
    }
    .side-menu__small {
        display: none;
    }
}
@media (max-width: 992px) {
    .side-menu__large{
        display: none;
    }
}

.side-menu__contact{
    color: #fff;
    padding: 1.25em;
    text-align: center;
    background-color: #333645;
    border-radius: 0.1875em;
    outline: 1px solid rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.1);
    margin-bottom: 1.125em;
    width: 13em;
    margin-top: 1.125em;
    font-size: 1.125em;

    a{
        color: #fff;
    }
}

.side-menu__service{
    margin-top: 20px;
}

.services_btn{
    color: #fff;
    text-decoration: none;
    padding: 19px 0px 18px;
    display: block;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    outline: 1px solid rgba(0,0,0,.25);
    border: 1px solid hsla(0,0%,100%,.1);
}

.sm_service-items{
    margin-top: 20px;
    border-radius: 3px;
    overflow: hidden;
}

.sm_service-items ul li {
    border-top: 0.5px solid rgba(255,255,255,0.05);
    box-shadow: inset 0px -1px 1px #000;
    color: #fff;
    text-align: center;
    width: 14.5em;
    padding: 0.8125em;
    background-color: #282b36;

    a {
        color: #fff;
    }
}

// side menu large 

.side-nav__header a {
    display: block;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
    line-height: 1;
    position: relative;

    background-color: #333645;
    border-top: 0.5px solid rgba(255,255,255,0.05);
    box-shadow: inset 0px -1px 1px #000;
}

.side-nav__item{
    border-top: 0.5px solid rgba(255,255,255,0.05);
    box-shadow: inset 0px -1px 1px #000;
    color: #fff;
    padding: 1.25em 0 1.25em 1.25em;
    background-color: #282b36;
    font-size: .90625em;
    a {
        color: #fff;
    }
    i {
        font-size: .60625em;
    }
}