
.main-footer {
    text-align: center;
    background-color: #333645;
    color: #fff;
    padding: 47px 0 43px;
    a {
        color: #fff;
    }
}

.service,
.office {
    padding: 15px;
    justify-content: space-evenly;
}
.office {
    margin-top: 20px;
    margin-bottom: 15px;
}