.news-img{
    max-width: 100%;
}

.top-logo{
    max-width: 100%;
    display: block;
}

.carousel-item, .client-item {
    margin: 30px;
    filter: grayscale(100%);
    &:hover{
        filter: grayscale(0);
    }
}